div.comp{float: none;}


html{scroll-behavior: smooth;
scrollbar-color: turquoise;}


div#head:hover{color: rgb(43, 146, 194);
    transition: 0.5s;
background-color: white;}
div#head{height: 100px;
    position: sticky;
    top: 0px;
background-color: rgb(43, 146, 194);
color: floralwhite;
font-size: 50px;
transition: 0.5s;
}



h1{position: absolute;
    top: -70px;}


    body{margin: 0px 0px 0px 0px;
    scrollbar-color: blue;}


div#body{height: fit-content;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div.bodycomp{float: left;
height: 1500px;
border: gray 2px solid;}


div#foot{height: 1050px;
font-size: 40px;}


div#opbar:hover{left: 0px;
    position: fixed;
transition: 0.5s}
div.headcomp{float: left;
display: inline;
margin-right: 50px;}
div#opbar{position: fixed;
    height: fit-content;
    left: -16%;
    width: 15%;
background-color: rgba(197, 230, 236, 0.726);}


div#cont{width: 75%;
   margin-left: 0px;
background-color: rgba(220, 220, 220, 0.658);}

div#ad{background-color: rgba(128, 128, 128, 0.712);
width: 24%;}

button.bar{background-color: rgba(128, 128, 128, 0);
width: 100%;
font-size: 200%;
border: none;
text-align: left;
transition: 2s;
margin-bottom: 5px;
height: 50px;
}

button.bar:hover{
    padding-left: 50px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(71, 118, 248, 1);
color: white;
text-emphasis: emphasis;}


iframe.ad{width: 100%;
height: 30%;}

p.hide{text-align: right;
visibility: visible;
height: fit-content;
}
div#opbar:hover p.hide{display: none;
}
i#arr{font-size:48px;color: rgb(43, 146, 194);
animation: slide 2s infinite;
position: relative;
animation-direction: alternate;
border-top-right-radius: 30%;
border-bottom-right-radius: 30%;
background-color: rgba(197, 230, 236, 1)}
i#arr:hover{animation-play-state: paused;}
@keyframes slide {0%{left: 10px;}
60%{left: 60px;}
65%{left: 50px;}
70%{left: 60px;}
75%{left: 50px;}
80%{left: 60px;}
85%{left: 50px;}
90%{left: 60px;}
100%{left: 50px;}}

button#searchb{height: 50px;
background-color: beige;
border: black 2px solid;
border-radius: 30%;
font-size: 20px;
width: fit-content;}
input{height: 40px;
margin-right: 10px;
font-size: 35px;
width: 170px;}
b#searchb{visibility: hidden;
display: none;}
button#searchb:hover b#searchb{
    text-decoration: none;
    display: inline;
    visibility: visible;}

    button#searchb:hover{background-color: cornflowerblue;
    color: cornsilk;
transition: 0.5s;}

button#btt{font-size:48px;color:white;
    float: right;
    animation: wob 2s infinite;
position: sticky;
animation-direction: alternate;
bottom: 20px;
left: 0px;
background-color:rgb(46, 145, 179);
border-radius: 50%;
border: none;
}
button#btt:hover{color:rgb(46, 145, 179);
background-color: white}
@keyframes wob{0%{width: 80px;height: 80px;}
25%{height: 70px;width: 90px;}
75%{height: 90px; width: 70px;}
100%{width: 80px;height: 80px;}}
div#pop{ bottom: 40px;
    z-index: 1;
    position: absolute;
    background-color: rgba(117, 206, 212, 0.589);
    display: none;
width: 600px;
border: black solid 2px;
animation: color 1s ;
animation-iteration-count: infinite;
padding: 20px 20px 20px 20px;}
div#credit{position: relative;
display: inline-block;

}
@keyframes color{
0%{background-color:  rgba(117, 206, 212, 0.589);}
12%{background-color:  rgba(150, 33, 228, 0.589);}
50%{background-color:  rgba(37, 226, 69, 0.589);}
62%{background-color:  rgba(0, 35, 236, 0.589);}
75%{background-color:  rgba(209, 124, 45, 0.589);}
85%{background-color:  rgba(235, 10, 243, 0.589);}
100%{background-color:  rgba(238, 255, 0, 0.589);}
25%{background-color:  rgba(188, 216, 64, 0.589);}
}
div#credit:hover div#pop{display: block;
transition: 1s;}
img.social{float: left;
height:60px;
margin:10px 10px 10px 10px; }


div#allfly:hover{animation-play-state: paused;}
img#flyimg:hover {
    animation: shake 5s; 
  
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg);}}
  

div#allfly{height: 100px;
    position: fixed; 
  top: 0px;
  animation-direction: alternate;
  left: 0px;
    animation: fly 100s infinite;
background-color: rgba(219, 107, 107, 0);}
img#flyimg{height: 100px;}
@keyframes fly{
    0%{left: 0px;
    top: 0px;}
    10%{left: 10%;
        top: 100%;}
    20%{left: 50%;
        top: 55%;}
        25%{left: 30%;
        top: 20%;}
    30%{left: 100%;
                top: 0%;}
    40%{left: 50%;
         top: 50%;}
    50%{left: 70%;
    top: 100%;}
    60%{left:80%;
        top: 90%;}
    70%{left: 10%;
        top: 50%;}
    80%{left: 85%;
                top: 0%;}
    85%{left: 30%;
        top: 60%;}
    90%{left: 0%;
        top: 0%;}
     100%{left: 85%;
            top: 90%;
        display: none;}
            
                        
}                        
